<div class="col-xs-6 poster">
  <div class="row">
    <div class="col-sm-12">
      <%= link_to image_tag(poster.image, class: "icon"), poster %><br />
    </div>
    <div class="col-md-6 col-md-offset-3 poster-text col-sm-12">
      <%= link_to poster.feedtext, poster %>
    </div>
  </div>
</div>