<div id="headline">
  https://inspira.herokuapp.com
</div> 
<div id="img-posters">
  <div id="poster" class="center">
    <%= image_tag(@poster.image_url, id: 'icon') %>
    <h3 id="text"><%= @poster.text %></h3>
  </div>

  <div id="credits">
    <%= @poster.image_url %><br />
    <%= @poster.link %>
  </div>
</div>
