<%= render 'posters' %>

<div class="col-sm-8 text-center">
  <div class="poster">
    <%= link_to image_tag(@poster.image), @poster.imageurl %>
    <h3><%= link_to @poster.text, @poster.link %></h3>
  </div>
  <%= link_to "Click for a new poster!", root_path, class: "btn btn-primary" %>
</div>
