/*
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #D5D5D5;
  height: 100px;
  h1 {
    font-weight: bold;
    a {
      color: #353935;
    }
  }
}

h1,h3 {
  font-family: 'Roboto Slab', serif;
}

.buttons {
  padding-top: 20px;
  text-align: right;
  .btn-lg {
    background: #76A681;
    font-family: 'Roboto Slab', serif;
  }
}

.poster {
  background: black;
  padding: 25px;
  margin-top: 30px;
  font-family: 'Lora', serif;
  color: #8EFAA0;
  border-width: 3px;
  border-color: #A5D9A5;
  border-style: solid;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 150%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
  }
}
.posters {
  list-style: none;
  padding-top: 25px;
  .poster {
    padding-top: 25px;
    .icon {
      max-width: 100%;
      height: 250px;
      margin-right: auto;
      margin-left: auto;
    }
    .poster-text {
      height: 80px;
    }
  }
}