/*
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  background: #D5D5D5;
  height: 100px;
  h1 {
    font-weight: bold;
    a {
      color: #353935;
    }
  }
}

h1,h3 {
  font-family: 'Roboto Slab', serif;
}

.buttons {
  padding-top: 20px;
  text-align: right;
  .btn-lg {
    background: #76A681;
    font-family: 'Roboto Slab', serif;
  }
}

.poster {
  background: black;
  padding: 25px;
  margin-top: 30px;
  font-family: 'Lora', serif;
  color: #8EFAA0;
  border-width: 3px;
  border-color: #A5D9A5;
  border-style: solid;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    max-width: 150%;
    border-width: 3px;
    border-color: white;
    border-style: solid;
  }
}
.posters {
  list-style: none;
  padding-top: 25px;
  .poster {
    padding-top: 25px;
    height: 450px;
    .icon {
      max-height: 300px;
      margin-right: auto;
      margin-left: auto;
    }
    .poster-text {
    }
  }
}

#img-posters {
  background: #000000;
  padding: 10px 30px 100px 30px;
}

#poster {

}

#text {
  background: #000000;
  color: #A9C5C9;
  width: 85%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto Slab', serif;
}

#icon {
  display: block;
  margin: auto;
  max-height: 400px;
  padding: 8px;
  border:3px solid #fff;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#credits {
  font-family: 'Roboto Slab', serif;
  display: block;
  background: #000;
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  position: fixed;
  top: 270px;
  right: -210px;
  text-align: right;
  font-size: 11px;
  padding: 10px;
  color: #565656;
}

#headline {
  background: black;
  font-family: 'Roboto Slab', serif;
}